{%load static%}

    <head>
        <title>Rosalvu - System</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
        {% comment %} <link rel="stylesheet" href="{% static 'style.css' %}" /> {% endcomment %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>


    
    <!-- Header -->
        <header id="header">
            <div class="logo ">
                <div>
                    <h1><a href="index.html" id="logo" class"text-dark">Rosalvu's</a></h1>
                    {% comment %} <p>A responsive site template by HTML5 UP</p> {% endcomment %}
                </div>
            </div>
        </header>


{% block content %}



{% endblock  %}





